<%- include('./includes/shop/head.ejs') %>
<link rel="stylesheet" href="/css/ShopSinIN.css">

  </head>
  <body>
    <% if (errorMessage){ %>
      <div class="user_messege user-messege--error"><%= errorMessage %></div>
      <% } %>

      <%- include('./includes/shop/navgationGeneral.ejs') %>
    <div class="container">
      <h2>ادخال كلمة مرور جديدة</h2>
      <form id="singin" action="/resetPassword" method="POST" >
           <div class="input-container">
          <label for="password">كلمة المرور الجديدة</label>
          <input type="password" id="password" name="password" required />
        </div>
        <input type="hidden" name="token" id="token" value="<%= token %>">
        <input type="submit" value="تحقق" />
      </form>
    </div>
  
</head>

<%- include('./includes/shop/end.ejs') %>
