<%- include('./includes/shop/head.ejs') %>
<link rel="stylesheet" href="/css/ShopSinIN.css">
  </head>
  <body>
    <% if (errorMessage) { %>
        <div class="user_messege user-messege--error"><%= errorMessage %></div>
  
      <% } %>
    
      <% if (successMessage) { %>
        <div class="user_messege user-messege--success "><%= successMessage %></div>
      <% } %>
      <%- include('./includes/shop/navgationGeneral.ejs') %>
    <div class="container">
      <h2>اعادة تعيين كلمة المرور</h2>
      <form id="singin" action="/reset" method="POST" >
        <div class="input-container">
          <label for="email">البريد الالكتروني</label>
          <input type="email" name="email" id="email" required placeholder="ادخل البريد الالكتروني الخاص بالحساب"/>
    </div>
    <input type="submit" value="تحقق" />


      </form>
    </div>
</head>
<%- include('./includes/shop/end.ejs') %>
