<%- include('../includes/shop/head.ejs') %>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/css/OrderPage.css">
<title>الطلبيات</title>
</head>
<%- include('../includes/shop/navgation.ejs') %>

<div class="container mt-5">
    <h2 class="text-center mb-4">الطلبيات</h2>
    <% if (Object.keys(groupedProducts).length === 0) { %>
        <p class="text-center">لا توجد طلبيات تحتاج إلى تجهيز</p>
    <% } else { %>
        <% Object.keys(groupedProducts).forEach(userId => { %>
            <div class="card mb-4">
                <div class="card-header text-white d-flex justify-content-between align-items-center">
                    <h3 class="h5 mb-0"><%= "المستخدم " + userId %></h3>
                </div>
                <div class="card-body">
                    <div class="product-list">
                        <% groupedProducts[userId].products.forEach((product, index) => { %>
                            <div class="product d-flex align-items-center mb-3">
                                <img src="/images/<%= product.image_url.split('\\').pop() %>" alt="Product Image" class="img-thumbnail me-3 product-image">
                                <div class="product-details flex-grow-1">
                                    <h3 class="h6"><%= product.ProductName %></h3>
                                    <p class="product-description"><%= product.Discrption %></p>
                                    <p class="p1">الكمية: <%= product.Qwnatity %></p>
                                    <p id="Prise_<%= product.ProductId %>">السعر: $<%= product.Prise %></p>
                                    <% if(groupedProducts[userId].colors[index]){ %>
                                    <p>اللون: <%= groupedProducts[userId].colors[index] %></p>
                                    <% } %>
                                    <% if(groupedProducts[userId].options[index]){ %>
                                    <p>المقاس: <%= groupedProducts[userId].options[index] %></p>
                                    <% } %>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                    <div class="shipping-info mt-3 hide" id="shipping-info-<%= userId %>">
                      
                        <div class="order-details">
                            <% let total = 0; %>

                            <h5>تفاصيل الطلب:</h5>
                            <% const userDitalis = groupedProducts[userId].products[0] %>
                            <p class="hide"><%= total += userDitalis.Prise %></p>

                            <p>اسم المستلم: <%= userDitalis.FirstName %> <%= userDitalis.LastName %></p>
                            <p>رقم هاتف المستلم: <%= userDitalis.Phone %></p>
                            <p>رقم هاتف المتجر: <%= userDitalis.PhoneNum %></p>
                            <h5>بيانات الشحن:</h5>
                            <% const location = groupedProducts[userId].locationQuery[0] || {}; %>
                            <p>المدينة: <%= location.City || 'غير متاح' %></p>
                            <p>المنطقة: <%= location.area || 'غير متاح' %></p>
                            <p>سعر التوصيل: <%= location.deliveryPrice ? "$" + location.deliveryPrice : 'غير متاح' %></p>
                            <p>الاجمالي: <%= total %></p>
                        </div>
                    </div>

                    <div class="buttons mt-3">
                        <button class="btn btn-primary btn-toggle-details" onclick="toggleDetails('<%= userId %>')" style="background-color: hsl(30, 100%, 50%); border: none;">عرض تفاصيل الطلبية</button>
                        <button class="btn btn-success btn-prepare hide" id="prepare-button-<%= userId %>" 
                            data-product-ids="<%= groupedProducts[userId].products.map(product => product.id).join(',') %>" 
                            onclick="markAsPrepared('<%= userId %>')">تم التجهيز</button>
                        <button class="btn btn-primary btn-print hide" id="print-button-<%= userId %>" onclick="printShippingInfo('<%= userId %>')">طباعة</button>
                    </div>
                </div>
            </div>
        <% }) %>
    <% } %>
    <div class="checkout">
        <button id="print-all-shipping-info " style="background-color: hsl(30, 100%, 50%);">طباعة جميع بيانات الشحن</button>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/print.js"></script>
<%- include('../includes/shop/end.ejs') %>

<style>
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    direction: rtl;
    margin-top: 150px;
}

.container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.product-list {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
}

.product {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.product img {
    width: 100px;
    height: 120px;
    margin-left: 20px;
    border-radius: 8px;
}

.product-details {
    flex-grow: 1;
}

.product-details h5 {
    margin-top: 0;
    font-size: 16px;
    margin-bottom: 5px;
}

.product-description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 10px;
}

.p1, .product-details p {
    margin: 5px 0;
    font-size: 14px;
}

.shipping-info {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 10px;
    margin-top: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.order-details {
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    height: auto;
}

.shipping-details {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.order-details h4, .shipping-details h4 {
    margin-top: 0;
    font-size: 16px;
    margin-bottom: 10px;
}

.order-details p, .shipping-details p {
    margin: 5px 0;
    font-size: 14px;
}

.order-details ul {
    padding: 0;
    list-style-type: none;
}

.order-details ul li {
    background-color: #eee;
    padding: 5px;
    margin: 5px 0;
    border-radius: 4px;
    display: inline-block;
}

button {
    background-color: #069a8e;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 50%;
    margin-top: 15px;
    margin-bottom: 15px;
}

button:hover {
    background-color: #05534d;
}

.checkout {
    border-top: 1px solid #ccc;
    padding-top: 20px;
    text-align: center;
}

.checkout h3 {
    margin-bottom: 20px;
}

.checkout button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.checkout button:hover {
    background-color: #0056b3;
}

@media (max-width: 576px) {
    .card-header h3 {
        font-size: 16px;
    }

    .product img {
        width: 80px;
        height: 80px;
        margin-left: 10px;
    }

    button {
        font-size: 12px;
        padding: 5px 10px;
        width: 80%;
    }

    .container {
        padding: 10px;
    }

    .shipping-info {
        grid-template-columns: 1fr;
    }
}

.hide {
    display: none;
}
</style>

<script>

function toggleDetails(userId) {
    const detailsElement = document.getElementById(`shipping-info-${userId}`);
    const prepareButton = document.getElementById(`prepare-button-${userId}`);
    const printButton = document.getElementById(`print-button-${userId}`);

    if (detailsElement.classList.contains('hide')) {
        detailsElement.classList.remove('hide');
        prepareButton.classList.remove('hide');
        printButton.classList.remove('hide');
    } else {
        detailsElement.classList.add('hide');
        prepareButton.classList.add('hide');
        printButton.classList.add('hide');
    }
}
function printShippingInfo(userId) {
    const detailsElement = document.getElementById(`shipping-info-${userId}`);
    if (!detailsElement) {
        console.error(`No shipping info found for user ${userId}`);
        return;
    }

    const printContent = `
    <!DOCTYPE html>
    <html lang="ar" dir="rtl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>فاتورة الطلبية</title>
        <style>
            body {
                font-family: Arial, sans-serif;
                background-color: #f4f4f4;
                margin: 0;
                padding: 0;
                direction: rtl;
            }

            .container {
                max-width: 800px;
                margin: 20px auto;
                padding: 20px;
                background-color: #fff;
                border-radius: 8px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            }

            .invoice-header {
                text-align: center;
            }

            .invoice-header h1 {
                font-size: 2em;
                margin-bottom: 10px;
            }

            .invoice-header .site-logo {
                width: 100px;
                height: auto;
                margin-bottom: 10px;
            }

            .invoice-header h4 {
                font-size: 1.5em;
                margin-top: 0;
            }

            .invoice-details {
                padding: 10px;
                border-radius: 5px;
                background-color: #fff;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            }

            .invoice-details h2 {
                font-size: 1.8em;
                margin-bottom: 20px;
                text-align: center;
            }

            .shipping-info {
                display: flex;
                flex-direction: column;
                gap: 20px;
                padding: 10px;
                margin-top: 20px;
                background-color: #f9f9f9;
                border-radius: 8px;
            }

            .order-details, .shipping-details {
                padding: 10px;
                border-radius: 5px;
                background-color: #fff;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            }

            .order-details h4, .shipping-details h4 {
                margin-top: 0;
                font-size: 1.4em;
                margin-bottom: 10px;
            }

            .order-details p, .shipping-details p {
                margin: 5px 0;
                font-size: 14px;
            }

            .order-details ul {
                padding: 0;
                list-style-type: none;
            }

            .order-details ul li {
                background-color: #eee;
                padding: 5px;
                margin: 5px 0;
                border-radius: 4px;
            }

            @media print {
                .container {
                    page-break-after: always;
                }
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="invoice-header">
                <img src="/images/logo.png" alt="منصة مختصر">
                <h1>منصة مختصر</h1>
                <h4>ابتكر لتبهر</h4>
            </div>
            <div class="invoice-details">
                <h2>تفاصيل الفاتورة</h2>
                ${detailsElement.innerHTML}
            </div>
        </div>
    </body>
    </html>
    `;

    const printWindow = window.open('', '_blank');
    printWindow.document.write(printContent);
    printWindow.document.close();
    
    // Wait for images to load before printing
    printWindow.onload = function() {
        printWindow.print();
        printWindow.close();
    };
}
function printShippingInfo(userId) {
    const detailsElement = document.getElementById(`shipping-info-${userId}`);
    if (!detailsElement) {
        console.error(`No shipping info found for user ${userId}`);
        return;
    }

    const printContent = `
    <!DOCTYPE html>
    <html lang="ar" dir="rtl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>فاتورة الطلبية</title>
        <style>
            body {
                font-family: Arial, sans-serif;
                background-color: #f4f4f4;
                margin: 0;
                padding: 0;
                direction: rtl;
            }

            .container {
                max-width: 800px;
                margin: 20px auto;
                padding: 20px;
                background-color: #fff;
                border-radius: 8px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            }

            .invoice-header {
                text-align: center;
            }

            .invoice-header h1 {
                font-size: 2em;
                margin-bottom: 10px;
            }

            .invoice-header .site-logo {
                width: 100px;
                height: auto;
                margin-bottom: 10px;
            }

            .invoice-header h4 {
                font-size: 1.5em;
                margin-top: 0;
            }

            .invoice-details {
                padding: 10px;
                border-radius: 5px;
                background-color: #fff;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            }

            .invoice-details h2 {
                font-size: 1.8em;
                margin-bottom: 20px;
                text-align: center;
            }

            .shipping-info {
                display: flex;
                flex-direction: column;
                gap: 20px;
                padding: 10px;
                margin-top: 20px;
                background-color: #f9f9f9;
                border-radius: 8px;
            }

            .order-details, .shipping-details {
                padding: 10px;
                border-radius: 5px;
                background-color: #fff;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            }

            .order-details h4, .shipping-details h4 {
                margin-top: 0;
                font-size: 1.4em;
                margin-bottom: 10px;
            }

            .order-details p, .shipping-details p {
                margin: 5px 0;
                font-size: 14px;
            }

            .order-details ul {
                padding: 0;
                list-style-type: none;
            }

            .order-details ul li {
                background-color: #eee;
                padding: 5px;
                margin: 5px 0;
                border-radius: 4px;
            }

            @media print {
                .container {
                    page-break-after: always;
                }
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="invoice-header">
                <img src="/images/logo.png" alt="منصة مختصر">
                <h1>منصة مختصر</h1>
                <h4>ابتكر لتبهر</h4>
            </div>
            <div class="invoice-details">
                <h2>تفاصيل الفاتورة</h2>
                ${detailsElement.innerHTML}
            </div>
        </div>
    </body>
    </html>
    `;

    const printWindow = window.open('', '_blank');
    printWindow.document.write(printContent);
    printWindow.document.close();
    
    // Wait for images to load before printing
    printWindow.onload = function() {
        printWindow.print();
        printWindow.close();
    };
}

function printAllShippingInfo() {
    const shippingInfos = document.querySelectorAll(".shipping-info");
    const printWindow = window.open("", "_blank");

    printWindow.document.write(`
    <!DOCTYPE html>
    <html lang="ar">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <title>الفواتير</title>
        <style>
            body {
                font-family: Arial, sans-serif;
                background-color: #f4f4f4;
                margin: 0;
                padding: 0;
                direction: rtl;
            }

            .container {
                max-width: 800px;
                margin: 20px auto;
                padding: 20px;
                background-color: #fff;
                border-radius: 8px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            }

            .invoice-header {
                text-align: center;
            }

            .invoice-header h1 {
                font-size: 2em;
                margin-bottom: 10px;
            }

            .invoice-header .site-logo {
                width: 100px;
                height: auto;
                margin-bottom: 10px;
            }

            .invoice-header h4 {
                font-size: 1.5em;
                margin-top: 0;
            }

            .invoice-details {
                padding: 10px;
                border-radius: 5px;
                background-color: #fff;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            }

            .invoice-details h2 {
                font-size: 1.8em;
                margin-bottom: 20px;
                text-align: center;
            }

            .shipping-info {
                display: flex;
                flex-direction: column;
                gap: 20px;
                padding: 10px;
                margin-top: 20px;
                background-color: #f9f9f9;
                border-radius: 8px;
            }

            .order-details, .shipping-details {
                padding: 10px;
                border-radius: 5px;
                background-color: #fff;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            }

            .order-details h4, .shipping-details h4 {
                margin-top: 0;
                font-size: 1.4em;
                margin-bottom: 10px;
            }

            .order-details p, .shipping-details p {
                margin: 5px 0;
                font-size: 14px;
            }

            .order-details ul {
                padding: 0;
                list-style-type: none;
            }

            .order-details ul li {
                background-color: #eee;
                padding: 5px;
                margin: 5px 0;
                border-radius: 4px;
            }

            @media print {
                .container {
                    page-break-after: always;
                }
            }
        </style>
    </head>
    <body>
    `);

    shippingInfos.forEach((info, index) => {
        printWindow.document.write(`
        <div class="container mt-5">
            <div class="invoice-header text-center mb-4">
                <h1>منصة مختصر</h1>
                <img src="/imjs/hh.png" alt="منصة مختصر" class="img-fluid site-logo">
                <h4>ابتكر لتبهر</h4>
            </div>

            <div class="invoice-details">
                <h2 class="text-center mb-4">تفاصيل الفاتورة</h2>
                <div class="shipping-info mb-4">
                    ${info.innerHTML}
                </div>
            </div>
        </div>
        `);
    });

    printWindow.document.write(`
    </body>
    </html>
    `);

    printWindow.document.close();
    printWindow.print();
}

document.getElementById("print-all-shipping-info ").addEventListener("click", printAllShippingInfo);

</script>
