<%- include('../includes/shop/head.ejs') %>

<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

</head>
<%- include('../includes/users/Navgation.ejs') %>

<main>
  <section id="hero">
    <h2>عالم التسوق بين يديك</h2>
    <!-- Swiper -->
    <h3 class="moteseel">الاكثر مبيعا</h3>

    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <% mostSoildQuery.forEach(product => { %>

          <div class="swiper-slide">
            <a href="http://localhost:3000/user/prdoduct/detlas?product_id=<%= product.id %>&view=<%= role %>">
              <img src="../images/<%= product.image_url.split('\\').pop().replace('personal', '') %>" >
            </a>
          </div>
      
   
        <% }); %>

      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </section>
  
  <div id="shop-by-categories">
    <h2>تسوق حسب الفئة</h2>
    <div class="swiper categorySwiper">
      <div class="swiper-wrapper">
        <% categories.forEach(categorie => { %>
          <div class="swiper-slide">
            <div class="category-item">
              <a href="/user/subCategoriesPage?subCategorieId=<%= categorie.id %>&name=<%= categorie.name %>">
                <img src="<%= categorie.url.replace('public', '') %>" alt="<%= categorie.name %>">
              </a>
              <p><%= categorie.name %></p>
            </div>
          </div>
        <% }); %>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>
      
  <section id="featured-jobs">
    <h2>عروض مميزة</h2>
    <ul>
      <% products.forEach(product => { %>
        <li>
          <a href="http://localhost:3000/user/prdoduct/detlas?product_id=<%= product.id %>&view=<%= role %>">
            <img src="../images/<%= product.image_url.split('\\').pop().replace('personal', '') %>" alt="Product Image" style="aspect-ratio: 3 / 4;"/>
            <h3><%= product.ProductName %></h3>
            <p class="product-description"><%= product.Discrption %></p>
            <h4> <p class="prise"><%= product.Prise %> د.ل</p></h4>
          </a>
        </li>
      <% }) %>
    </ul>
  </section>

  <section id="latest-jobs">
    <h2>آخر المنتجات</h2>
    <ul>
      <% products.forEach(product => { %>
        <li>
          <a href="http://localhost:3000/user/prdoduct/detlas?product_id=<%= product.id %>&view=<%= role %>">
            <img src="../images/<%= product.image_url.split('\\').pop() %>" alt="Product Image" style="aspect-ratio: 3 / 4;"/>
            <h3><%= product.ProductName %></h3>
            <p class="product-description"><%= product.Discrption %></p>
            <h4><p class="prise"><%= product.Prise %> د.ل</p></h4>
          </a>
        </li>
      <% }) %>
    </ul>
  </section>
  
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
  var swiper = new Swiper(".mySwiper", {
    spaceBetween: 30,
    loop: true,
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    autoplay: {
      delay: 2500,
      disableOnInteraction: false,
    },
    effect: "coverflow",
    grabCursor: true,
    centeredSlides: true,
    slidesPerView: 3,
    coverflowEffect: {
      rotate: 50,
      stretch: 0,
      depth: 100,
      modifier: 1,
      slideShadows: true,
    },
  });

  document.addEventListener('DOMContentLoaded', function () {
    const container = document.querySelector('.categories-container ul');
    const prevButton = document.getElementById('prev-button');
    const nextButton = document.getElementById('next-button');

    let isScrolling = false;

    function scroll() {
      if (!isScrolling) {
        container.scrollBy({
          left: 1,
          behavior: 'smooth'
        });
      }
      if (container.scrollLeft >= container.scrollWidth - container.clientWidth) {
        container.scrollTo({ left: 0, behavior: 'smooth' });
      }
    }

    setInterval(scroll, 15);

    prevButton.addEventListener('click', function () {
      container.scrollBy({
        left: -150,
        behavior: 'smooth'
      });
    });

    nextButton.addEventListener('click', function () {
      container.scrollBy({
        left: 150,
        behavior: 'smooth'
      });
    });
  });

  document.addEventListener('DOMContentLoaded', function () {
    var swiper = new Swiper(".mySwiper", {
    spaceBetween: 30,
    loop: true,
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    autoplay: {
      delay: 2500,
      disableOnInteraction: false,
    },
    effect: "coverflow",
    grabCursor: true,
    centeredSlides: true,
    slidesPerView: 3,
    coverflowEffect: {
      rotate: 50,
      stretch: 0,
      depth: 100,
      modifier: 1,
      slideShadows: true,
    },
  });

  var categorySwiper = new Swiper(".categorySwiper", {
    spaceBetween: 10,
    slidesPerView: 5,
    loop: true,
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    autoplay: {
      delay: 3000,
      disableOnInteraction: false,
    },
  });
});

</script>

<%- include('../includes/shop/end.ejs') %>
