<%- include('../includes/shop/head.ejs') %>
<link rel="stylesheet" href="/css/ShopSinIN.css">

  </head>
  <body>
    <% if (errorMessage) { %>
      <div class="user_messege user-messege--error"><%= errorMessage %></div>

    <% } %>
  
    <% if (successMessage) { %>
      <div class="user_messege user-messege--success "><%= successMessage %></div>
    <% } %>
      <%- include('../includes/shop/navgationGeneral.ejs') %>
    <div class="container">
      <h2>تسجيل االدخول</h2>
      <form id="singin" action="/SingIn/Check" method="POST" >
        <div class="input-container">
          <label for="email">الايميل</label>
          <input type="email" name="email" id="email" required />
        </div>
        <div class="input-container">
          <label for="password">كلمة المرور</label>
          <% if (errorMessage) { %>
            <p>هل نسيت كلمة المرور ؟ <a href="/reset">اعادة تعيين كلمة المرور</a></p>
      
          <% } %>
        
          <input type="password" id="password" name="password" required />
        </div>

        <input type="submit" value="ارسال" />
      </form>
    


    </div>
  
</head>

<%- include('../includes/shop/end.ejs') %>
